python-decouple==3.8

spacy==3.6.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
xx-ent-wiki-sm @ https://github.com/explosion/spacy-models/releases/download/xx_ent_wiki_sm-3.6.0/xx_ent_wiki_sm-3.6.0-py3-none-any.whl#sha256=5cd25405727477ac46ed96b511d8c893e0a734bb72e749967e2fa82db3005b4d
numpy==1.23.4  # Adjusted version for compatibility
aiofiles~=22.1.0
beautifulsoup4~=4.12.3
fastapi==0.103.2
geopy==2.4.0
motor==3.6.0
opencage==2.3.0
pandas==2.2.3
pydantic==2.3.0
pymongo~=4.9.2
requests==2.31.0
uvicorn==0.23.2
kombu~=5.4.2
pytest~=8.3.4
