uvicorn~=0.23.2
fastapi~=0.103.2
kombu~=5.4.2
pymongo~=4.9.2
pandas~=2.2.3
opencage~=2.3.0
requests~=2.31.0
beautifulsoup4~=4.12.3
pytest~=8.3.4
aiofiles~=22.1.0
geopy~=2.4.0
loguru~=0.7.3
motor~=3.6.0
pydantic~=2.3.0
python-decouple~=3.8
apache-airflow~=2.10.5
spacy~=3.6.1
celery~=5.4.0